{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": "warn",
    "no-console": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": 0,
    "prefer-destructuring": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
