.heading {
  height: 15rem;
  background: rgba($color-primary, 0.761);
  position: relative;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;

  &__primary {
    color: rgba($color-primary-text, 0.839);
    @include absCenter;
  }
}